<% const d = new Date()
let year = d.getFullYear() %>
<footer class="site-footer">
  <p class="copyright">&copy; <%= year %>, CSE 340 App</p>
  <p><a href="/error" title="Trigger a server error">Trigger Error</a></p>
</footer>
