<h1>
    <%= title %>
</h1>

<div class="error-message">
    <p>Well… this is awkward 😅</p>

    <p>
        <%- message %>
    </p>

    <p>
        Please try again later or use the navigation to escape this page.
    </p>
</div>